@import url('https://fonts.googleapis.com/css2?family=Allura&family=Orbitron&family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 14PX;
}
body{
    width: 100vw;
    height: 100vh;
    font-family:'Poppins',sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x:hidden;
    color:var(--color-dark);
    background-color:var(--color-background);

}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
    object-fit:cover;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-weight: 600;
    font-size: 1.4rem; 
}
h3{
    font-weight: 500;
    font-size: 0.87rem;  
}
small{
    font-size:0.76rem;
}
p{
    color:var(--color-dark-variant);
}
b{
   color: var(--color-dark); 
}
.text-muted{
    color: var(--color-info-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color:var(--color-danger);
}
.success{
    color:var(--color-success)
}
.warning{
    color: var(--color-warning);
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap:1.8rem;
    /* grid-template-columns: 12rem auto 23rem; */
    grid-template-columns: 12rem auto;
}
aside{
    height: 100vh;
}
aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .toggle .logo{
    display:flex;
    gap: 0.5rem;
}
aside .toggle .logo h2{
    font-size:1.3rem;
    gap: -3px;
}
aside .toggle .logo span{
    margin-left:35%;
    font-size: 1.1rem;
}
aside .toggle .logo img{
    width: 5rem;
    height: 5rem;
}
aside .toggle .close{
    padding-right: 1rem;
    display:none;
}
#close-btn{
    display: none;
}
aside .sidebar{
    display:flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow:var(--box-shadow);
    border-radius: 15px;
    height: auto;
    position: relative;
    top: 1.5rem;
    transition:all 0.3s ease;
    padding-bottom: 5rem;
}
aside .sidebar:hover{
  box-shadow: none;  
}
aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.0rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size:1.6rem ;
    transition:all 0.3s ease;
}
aside .sidebar a:first-child{
    margin-top: 1rem;
}
aside .sidebar a:hover{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}
aside .sidebar a:hover::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
   margin-left:0.6rem ; 
}
aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    margin-left: 0.5rem;
    border-radius: var(--border-radius-1);
}



main{
    margin-top: 4.4rem;
}
main .analyse{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}
main .analyse > div:hover{
    box-shadow: none;
}
main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .analyse h3{
    margin-left:0.6rem;
    font-size: 1rem;
}
main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius:50%;
}
main .analyse svg{
    width: 7rem;
    height: 7rem;
}
main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform:translate(5px,5px);
}
main .analyse .sales svg circle{
   stroke: var(--color-success); 
   stroke-dashoffset:-30;
   stroke-dasharray: 200;
}
main .analyse .visits svg circle{
    stroke: var(--color-danger); 
    stroke-dashoffset:-30;
    stroke-dasharray: 200;
 }
 main .analyse .searches svg circle{
    stroke: var(--color-primary); 
    stroke-dashoffset:-30;
    stroke-dasharray: 200;
 }
main .analyse .progresss .percentage{
    position: relative;
    top: -110%;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

main .recent-orders{
    margin-top: 1.3rem;
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
}
main .recent-orders table{
background-color: var(--color-white);
width: 100%;
padding: var(--card-padding);
text-align: center;
box-shadow: var(--box-shadow);
border-radius: var(--card-border-radius);
transition: all 0.3s ease;
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child{
    border: none;
}
main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
     color: var(--color-primary);
}
.tdbutton{
    height: 80%;
    width: 80%;
    color: #f6f6f9;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
#td-edit-button,#td-destedit-button{
    background-color: #1B9C85;
}
#td-edit-button:hover,#td-destedit-button:hover{
    background-color: var(--color-white);
    color:#1B9C85;
    border: 2px solid #1B9C85;
}
#td-delete-button,#td-destdelete-button{
    background-color: #FF0060;
}
#td-delete-button:hover,#td-destdelete-button:hover{
    background-color: var(--color-white);
    color:#FF0060;
    border: 2px solid #FF0060;
}
.right-section{
    display: none;
    padding-top: 10rem;
}
#newdatadiv{
    margin-left: 2%;
}
/* #newdatadiv h2,#updatadiv h2{
     margin-left: 25%; 
} */
form{
    background-color: white;
    /* primary */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    padding: 2rem 3rem  2rem 1rem;
    width: 80%;
    border-left: 20px solid #1B9C85;
}
.form-head{
    font-size: 1.3rem;
    font-weight: bold;
    color:var(--color-dark);
    margin-left: 10%;
}
form input{
    height: 2rem;
    width: 15rem;
    border-radius: 10px;
    background-color: #edeffd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
form input:focus{
    background-color:#F7D060;
}
form label{
    font-size: 1rem;
}
#updatadiv{
    margin-top: 5%;
}
.rightformbtn{
    height: 2.5rem;
    width: 10rem;
    border-radius: 15px;
    background-color:#FF0060;
    margin-left: 20%;
    margin-top: 10%;
    border:5px solid rgb(175, 18, 178);
    font-weight: bolder;
    color: white;
}
.rightformbtn:hover{
    background-color:rgb(175, 18, 178); 
    border:5px solid #FF0060;
    color: #F7D060;
}
input{
    padding-left: 5%;
}

/* #destinationdatadiv{
    display: none;
} */




#sevenpx{
    display: none;
    }
    input::placeholder{
        display: none;
    }
    
    
    
    
    @media only screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    } 
    aside .logo h2{
        display:none;
    }
    aside .sidebar h3{
       display: none; 
    }
    aside .sidebar a{
     width:5.6rem;  
    }
    main .analyse{
       grid-template-columns: 1fr;
       gap: 0; 
    }
    main .new-users .user-list .user{
      flex-basis: 40%;  
    }
    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }
    main .recent-orders table{
        width: 70vw;
    }
    }
    @media only screen and (max-width:750px){
        .container{
            width: 100%;
            grid-template-columns: 1fr;
            padding: 0 var(--padding-1);
        }
        aside{
            position: fixed;
            background-color: var(--color-white);
            width: 15rem;
            z-index: 3;
            box-shadow: 1rem 3rem 4rem var(--color-light);
            height: 100vh;
            left: -100%;
            display:none;
            animation: showMenu 0.4s ease forwards;
        }
    
        @keyframes showMenu{
            to{
                left: 0;
            }
        }
      aside{
        margin-top: 10%;
        height: auto;
      }
        aside .logo{
            margin-left: 1rem;
        }
        aside .logo h2{
            display: inline;
        }
        aside .sidebar h3{
            display: inline;
        }
        aside .sidebar a{
            width: 100%;
            height: 3.4rem;
        }
        aside .toggle .close{
       display: inline-block;
        cursor: pointer;
        }
        main{
            margin-top: 8rem;
            padding: 0 1rem;
        }
        main .new-users .users-list .user{
            flex-basis: 35%;
        }
        main .recent-orders{
            width: 94%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 2rem 0 0 0.8rem;
        }
        main .recent-orders table{
            width: 80vw;
        }
        .right-section{
           width: 94%; 
           margin: 0 auto 4rem;
        }
        form{
            border-left: none;
            width: 100%;
            margin-left: 30%;
        }
        input{
            width: 80%;
        }
        form label{
           display: none;
        }
    .recent-orders{
        width: 100%;
        display: block;
    }
       #destinationdatadiv{
        width: 100%;
       }
       #sevenpx{
        display: block;
        width: 20px;
        height: 20px;
        }
        input::placeholder{
            display: block;
        }
    
        #close-btn{
            display: block;
            margin-left: 80%;
        }
        #sidebar{
            padding-top: 10%;
        }
    }