main {
    display: flex;
    flex-direction: column;
}

/* Filter */
#filterRange {
    position: static;
    width: auto;
    height: 8vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    order: 1;
    align-items: center;
    margin-bottom: 5px;
}

#filterRange>div {
    width: 100%;
    display: flex;
}

.filterImg {
    width: 30px;
    height: 30px;
    display: flex;
}

.resetImg {
    width: 30px;
    height: 30px;
}

.filterIcon,
.sortIcon {
    display: none;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-inline: 20px;
}

#filterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 0;
}

#filterDiv>div:first-child {
    gap: 10px;
    margin: 0;
}

.radio-group {
    padding: 5px;
    position: fixed;
    z-index: 100;
    top: 28vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sortDiv {
    min-width: 25%;
    height: 50%;
    margin-right: 20px;
}

#sortByPrice,
#filterDiv {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sortByPrice option {
    font-size: 0.6em;
    margin: 0;
    padding: 0;
}

.radio-group {
    display: none;
}

/* Place Section */
#placeSection {
    order: 3;
    width: 100%;
    margin: auto;
}

.placeCard {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "one two"
        "one two"
        "one three";
    background-color: #dbf2f7;
}

.placeImage {
    width: 95%;
    grid-area: one;
}

.placeImage img {
    width: 100%;
}

.placeDesc {
    grid-area: two;
    width: 100%;
}

.placePrice {
    justify-content: center;
    align-items: center;
    grid-area: three;
    width: 100%;
    padding: 0;
    margin: 0%;
    gap: 0;
}

.placeDesc> :nth-child(2) {
    -webkit-line-clamp: 1;
}

.placePrice h4 {
    width: 50%;
}

#searchForm {
    width: 100%;
}

/* State Section */
#stateSection {
    position: static;
    background-color: rgb(229, 231, 226);
    width: auto;
    height: auto;
    order: 2;
}

#stateSection::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

#stateSection::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

#stateContainer {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.stateCard {
    min-width: 200px;
    height: 120px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
}

#stateContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.stateCard img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#stateSection h1, #placeSection h1 {
    text-align: center;
}