:root {
    --headings: #000000;
    --background: #ebebeb;
    --paragraph: #696969;
    --highlight-light: #f6f6f6;
    --highlight-dark: #f2f2f2;
    --waves-color: #d58170;
    --h1: 5.5rem;
    --h2: 3.5rem;
    --h3: 1.75rem;
    --h4: 1.25rem;
}

@media screen and (max-width: 635px) {
    :root {
        --h1: 3.25rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) {
    :root {
        --h1: 4rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 14px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* height: 100vh; */
    width: 95%;
    margin: auto;
}

#Register-box {
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    width: 28%;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}

#registerh3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#registerinput>h3 {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* border: 1px solid springgreen; */
}

#registerinput {

    width: 100%;
    background-color: #f1f1f2;
    /* border: 1px solid rgb(66, 65, 65); */
    margin: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

#username,
#password,
#process {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.login,
.register {
    width: 49%;
    height: 50px;
    font-size: 20px;

}

.register {
    background-color: #efefef;
    color: rgb(20, 19, 19);
    /* border: 2px solid black; */
}

.login {
    background-color: #169ed4;
    color: white;
    border: 0px;
}

.registerspan {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#regilogin {

    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.process {
    width: 80%;
    margin-top: 20px;
    height: 40px;
    background-color: #169ed4;
    border: 0px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

@media screen and (max-width: 1050px) {
    :root {
        --h1: 4rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 14px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* img {
    max-width: 100%;
    display: block;
} */

/* Scroll tracker CSS */
.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: violet;
    transform-origin: left;
    z-index: 100;

}

/* Header CSS */

header hr {
    height: 1px;
    border-width: 0;
    background-color: grey;
    margin-top: 3vh;

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:hover {
    color: orange;
}

/* Responsive Design CSS */
@media (max-width: 1000px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .dropdown_menu .flex {
        display: flex;
        gap: 1vh;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* Hero section CSS */

#hero {
    background-color: var(--background);
}