:root {
    --headings: #000000;
    --background: #ebebeb;
    --paragraph: #696969;
    --highlight-light: #f6f6f6;
    --highlight-dark: #f2f2f2;
    --waves-color: #d58170;
    --h1: 5.5rem;
    --h2: 3.5rem;
    --h3: 1.75rem;
    --h4: 1.25rem;
}

@media screen and (max-width: 635px) {
    :root {
        --h1: 3.25rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) {
    :root {
        --h1: 4rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 14px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* height: 100vh; */
    width: 95%;
    margin: auto;
}

#Register-box {
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    width: 28%;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}

#registerh3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#registerinput>h3 {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* border: 1px solid springgreen; */
}

#registerinput {

    width: 100%;
    background-color: #f1f1f2;
    /* border: 1px solid rgb(66, 65, 65); */
    margin: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

#username,
#password,
#process {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.login,
.register {
    width: 49%;
    height: 50px;
    font-size: 20px;

}

.register {
    background-color: #efefef;
    color: rgb(20, 19, 19);
    /* border: 2px solid black; */
}

.login {
    background-color: #169ed4;
    color: white;
    border: 0px;
}

.registerspan {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#regilogin {

    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.process {
    width: 80%;
    margin-top: 20px;
    height: 40px;
    background-color: #169ed4;
    border: 0px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

@media screen and (max-width: 1050px) {
    :root {
        --h1: 4rem;
        --h2: 2.75rem;
        --h3: 1.25rem;
        --h4: 1rem;
    }

    html {
        font-size: 14px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 99%;
    margin: auto;
}

/* img {
    max-width: 100%;
    display: block;
} */

/* Scroll tracker CSS */
.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: violet;
    transform-origin: left;
    z-index: 100;

}

/* Header CSS */

header hr {
    height: 1px;
    border-width: 0;
    background-color: grey;
    margin-top: 3vh;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header a:hover {
    color: orange;
}

.logo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: maroon;
}

.logo img {
    height: 10vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-top: 4vh;
    background-color: lightgray;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .links .flex {
    display: flex;
    gap: 1vh;
}

.navbar .links .flex img {
    height: 3.5vh;
}

header {
    /* position: relative; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* width: 100%; */
    /* border: 1px solid red; */
}


/* Dropdown CSS */

.username,
.sign-out {
    background-color: lightgray;
    cursor: pointer;
    color: maroon;
    font-weight: bolder;
}

.flex>a>button,
.sign-out>a>button {
    background-color: var(--headings);
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
    /* margin-bottom: 0.5rem; */
    transition: all 0.2s ease-out;
    cursor: pointer;
    width: 5rem;
    position: relative;
    bottom: 0.2rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 10vh;
    height: 0;
    width: 300px;
    background: rgba(50, 46, 46, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 29vh;
}

.dropdown_menu.open img {
    height: 3vh;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:hover {
    color: orange;
}

/* Responsive Design CSS */
@media (max-width: 1000px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .dropdown_menu .flex {
        display: flex;
        gap: 1vh;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* Hero section CSS */

#hero {
    background-color: var(--background);
}